parameters:
    scanFiles:
        - vendor/yiisoft/yii2/Yii.php
    paths:
        - src
        - tests
    excludePaths:
        - vendor/*
        - tools/*
        - tests/PhpUnitCompatibilityLayer.php
    parallel:
        maximumNumberOfProcesses: 2
        processTimeout: 10.0
