includes:
    - ../libs/phpstan%phpVersion%/vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - ../baseline.neon
parameters:
    phpVersion: %currentPhpVersion%
    scanFiles:
        - vendor/yiisoft/yii2/Yii.php
    paths:
        - src
        - tests
    excludePaths:
        - vendor/*
        - tools/*
        - tests/PhpUnitCompatibilityLayer.php
    parallel:
        maximumNumberOfProcesses: 2
        processTimeout: 10.0
